nav{
    display: inline-block;
    margin: 10px;
}

a{
    border: solid 0.5px lightgray;
    padding: 8px;
    background-color: whitesmoke;
    color: rgb(92, 89, 89);
    margin: 5px;
    text-decoration: none;
    
}

a:hover{
    background-color: rgb(220, 220, 220);
}

.active{
    background-color: rgb(18, 18, 230);
    color: white;
    border: none;
}
.active:hover{
    background-color: rgb(18, 18, 230);
    color: white;
    border: none;
}

