body{

    /* background-color: antiquewhite; */
}
div{
    background-color: rgb(233, 245, 245); 
    border: solid 1px blue;
    padding: 15px;
    margin: 10px;
}

.section1{
    color: blue;
}

.section2{
    color: darkblue;
}